<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mitchy XD</title>
</head>
<body>
    <h1>Mitchy</h1>
    <!--
    <h2>Upload Images</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="files" accept="image/*" multiple>
        <input type="submit" value="Upload">
    </form>
    -->
    <h2>Search Images</h2>
    <form action="/search" method="post">
        <input type="text" name="query" placeholder="Enter your search query" required>
        <input type="number" name="top_k" placeholder="Top-k" min="1">
        <input type="submit" value="Search">
    </form>
    
    <p><a href="/gallery">View Image Gallery</a></p>
</body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</html>
